@import '../node_modules/swiper/swiper-bundle.css';

@import 'style/variables';
@import 'style/header';
@import 'style/burger';
@import 'style/promo';
@import 'style/filter';
@import 'style/sorting';
@import 'style/products';
@import 'style/basket';
@import 'style/swiper';
@import 'style/footer';


body {
  font-family: 'Inter', sans-serif;
  color: $color-text;
  font-size: 14px;
}

.body_noscroll {
  overflow: hidden;
}




