.basket {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 580px;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
}

.basket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-header__title {
  font-size: 30px;
  font-weight: 500;
  margin: 35px 0 0 35px;
}

.basket-header__close {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  position: relative;
  margin: 25px 20px 0 0;
  transition: 0.2s all linear;
  &:hover {
    background-color: $color-green;
  }
}

.basket-header__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basket-products {
  margin-top: 84px;
}

.basket-products__info {
  display: flex;
  justify-content: space-between;
}

.basket-products__amount {
  padding-left: 35px;
} 

.basket-products__btn {
  border: none;
  background-color: transparent;
  color: rgba($color: $color-text, $alpha: 0.4);
  font-size: 14px;
  margin-right: 30px;
}

.basket-cards {
  margin-top: 10px;
}

.basket-card {
  width: 520px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.basket-card__info {
  display: flex;
  align-items: center;
  width: 270px;
}

.basket-card__photo {
  width: 125px;
  height: 125px;
}

.basket-card__title {
  width: 165px;
  font-size: 16px;
  font-weight: 300;
}

.basket-card__price {
  font-size: 16px;
  font-weight: 600;
}

.basket-card__setting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 190px;
}

.basket-card__btn {
  width: 40px;
  height: 24px;
  border-radius: 4px;
  background: $color-grey;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.basket-card__delete {
  width: 24px;
  height: 24px;
}

.basket-card__amount {
  font-size: 16px;
  font-weight: 400;
}

.basket-purchase {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin: 0 auto;
}

.basket-purchase__title {

}

.basket-purchase__price {

}

.basket-purchase__btn {
  width: 240px;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: $color-green;
}