.products {
  max-width: 1790px;
  margin: 0 auto;
  display: flex;
	@media (max-width: 620px) {
    justify-content: center;
  }
}

.products-filter{  
  margin: 60px 110px 0 0;
	width: 200px;
	height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;     
	position: relative;
	@media (min-width: 620px) and (max-width: 1200px) {
		margin: 30px 40px 0 0;
	}
	@media (max-width: 620px) {
    width: 100%;
    height: 318px;
    background: $color-background;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: translateY(100vh);
    transition: 0.3s all linear;
		border-radius: 24px 24px 0px 0px;
		justify-content: flex-start;
		border: 1px solid rebeccapurple;
  }
}

.products-filter__close {
	display: none;
	@media (max-width: 620px) {
		display: block;
		width: 28px;
		height: 4px;
		background-color: $color-text;
		opacity: 0.6;
		border-radius: 40px;
		border: none;
		margin: 12px auto 28px;
	}
}

.products-filter_active {
	@media (max-width: 620px) {
		transform: translateY(0);
	}
}

.products-filter__checkbox .products-filter__item {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 36px;	
	height: 22px;
	border-radius: 40px;	
	background: $color-grey;
	transition: .2s;
}

.products-filter__checkbox {
  display: flex;
	align-items: center;
  margin-top: 10px;
	@media (max-width: 620px) {
		margin-left: 28px;
	}
}

.products-filter__checkbox .products-filter__item:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 7px;	
	display: inline-block;
	width: 8px;	
	height: 8px;
	border-radius: 50%;
	background: #1F2020;
	transition: .15s;
}

.products-filter__checkbox input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.products-filter__checkbox input[type=checkbox]:checked + .products-filter__item {
	background: $color-green;
}

.products-filter__checkbox input[type=checkbox]:checked + .products-filter__item:before {
	transform:translateX(15px);
}

.products-filter__checkbox input[type="checkbox"]:not(:disabled) + .products-filter__item {
	cursor: pointer;
}

.checkbox-filter__title {
  padding-left: 12px;
  font-size: 12px;
  text-transform: uppercase;
}
