@import './variables';

%flex-rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 80px;
}

.nav {
  max-width: 1790px;
  margin: 25px auto;
}

.nav,
.panel-icons,
.menu,
.info-panel{
  @extend %flex-rules;
}

.menu__item,
.panel-icons__item {
  list-style: none;
} 

.nav__list {
  padding-right: 380px;
}

.info-panel {
  width: 432px;
} 

.info-panel__number {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.info-panel__text {
  margin: 2px 0 0 0;
  color: #1F2020;
  opacity: 0.3;
}

.panel-icons {
  width: 160px;
  justify-content: space-between;
  
}

.menu {
  width: 542px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $color-text;
    text-transform: uppercase;
    transition: 0.2s all linear;
    &:hover {
      color: $color-green;
    }
  }
  
}
