.header {
  height: 80px;
  position: relative;
  @media (max-width: 620px) {
    height: 64px;
    border-bottom: 1px solid rgba($color: #1F2020, $alpha: 0.06);
  }
}

.nav {
  max-width: 1790px;
  margin: 25px auto;
}

.nav,
.panel-icons,
.menu,
.info-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logotip {
  @media (max-width: 620px) {
    width: 99px;
    height: 21px;
  }
}

.menu__item,
.panel-icons__item {
  list-style: none;
} 

.panel-icons__item:not(:last-child) {
  @media (max-width: 1150px) {
    display: none;
  }
}

.panel-icons__basket {
  position: relative;
}

.panel-icons__amount {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 12px;
  font-weight: 500;
}

.nav__list {
  padding-right: 20%;
  @media (max-width: 1350px) {
    padding-right: 6%;
  }
  @media (max-width: 1150px) {
    width: 100%;
    height: 329px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateX(-100%);
    transition: 0.1s all linear;
  }
}

.nav__list_active {
    transform: translateX(0);
}

.info-panel {
  width: 432px;
  @media (max-width: 1150px) {
    width: 50px;
  }
} 

.info-panel__phone {
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 1150px) {
    display: none;
  }
}

.info-panel__number {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.info-panel__text {
  margin: 2px 0 0 0;
  color: #1F2020;
  opacity: 0.3;
}

.panel-icons {
  width: 160px;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: 1150px) {
    width: 25px;
    padding: 0;
  }
}

.menu {
  width: 542px;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $color-text;
    text-transform: uppercase;
    transition: 0.2s all linear;
    &:hover {
      color: $color-green;
    }
    
  }
  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    gap: 10px;
  }
}

.header__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  //height: 2400px;
  background-color: $color-footer;
  opacity: 0.7;
  z-index: 2;
  display: none;
}

.header__cover_active {
  display: block;
}

.menu__item_mobile {
  display: none;
  @media (max-width: 1150px) {
    display: block;
  }
} 