.main {
  max-width: 1920px;
  margin: 0 auto;
}

.promo {
  background-image: url(img/photos/background.jpg);
  background-repeat: no-repeat;
  background-size: calc(620px + 1300 * (100vw - 620px) / 1300) auto;
  width: 100%;
  height: 560px;
  position: relative;
  @media (min-width: 620px) and (max-width: 1900px) {
    height: calc(186px + 374 * (100vw - 620px) / 1300);
  }
  @media (max-width: 620px) {
    background-image: none;
    height: 100px;
  }
}

.promo-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 193px;
  padding: 20px 0 0 64px;
  @media (max-width: 620px) {
    padding: 0;
  }
}

.promo-breadcrumbs__item {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #C4C4C4;
  &:hover {
    cursor: pointer;
  }
}

.promo-title {
  display: none;
  @media (max-width: 620px) {
    display: block;
    font-size: 36px;
    font-weight: 400;
  }
}

.promo-breadcrumbs__dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.promo-info {
  color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -3%;
  transform: translateX(-50%);
  @media (min-width: 620px) and (max-width: 1700px) {
    top: calc(-160px + 60 * (100vw - 620px) / 1080);
  }
  @media (max-width: 620px) {
    display: none;
  }
}

.promo-info__title {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  @media (min-width: 620px) and (max-width: 1900px) {
    font-size: calc(20px + 52 * (100vw - 620px) / 1280);
  }
}

.promo-info__subtitle {
  width: 472px;
  font-size: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  @media (min-width: 620px) and (max-width: 1900px) {
    font-size: calc(10px + 6 * (100vw - 620px) / 1280);
    width: calc(200px + 272 * (100vw - 620px) / 1280);
  }
  @media (max-width: 620px) {
    display: none;
  }
}

.swiper-pagination {
  width: 124px;
  height: 32px;
  border-radius: 16px;
  background: #00000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  @media (min-width: 620px) and (max-width: 1900px) {
    margin-top: calc(110 * (100vw - 620px) / 1280);
    width: calc(70px + 54 * (100vw - 620px) / 1280);
    height: calc(16px + 16 * (100vw - 620px) / 1280);
  }
  @media (max-width: 620px) {
    display: none;
  }
}
