.products-cards {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media (max-width: 620px) {
   justify-content: center;
  }
}

.products-card {
  width: 284px;
  height: 392px;
  border-bottom: 1px solid $color-grey;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 375px) and (max-width: 1900px) {
    width: calc(156px + 128 * (100vw - 620px) / 1525);
    height: calc(290px + 122 * (100vw - 620px) / 1525);
  }
}

.product-card__photo {
  width: 278px;
  height: 278px;
  @media (min-width: 375px) and (max-width: 1900px) {
    width: calc(156px + 122 * (100vw - 620px) / 1525);
    height: calc(156px + 122 * (100vw - 620px) / 1525);
  }
}

.product-card__title {
  font-size: 16px;
  font-weight: 300;
  margin: 12px 0;
}

.products-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-card__price {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.products-card__btn {
  width: 80px;
  height: 32px;
  border-radius: 8px;
  background: $color-grey;
  border: none;
  font-size: 25px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: 375px) and (max-width: 1900px) {
    width: calc(40px + 40 * (100vw - 620px) / 1525);
    height: calc(24px + 8 * (100vw - 620px) / 1525);
    font-size: calc(18px + 7 * (100vw - 620px) / 1525);
  }
}

.products-card__btn_disabled {
  background-color: green;
}