.main {
  max-width: 1920px;
  margin: 0 auto;
}

.promo {
  background-image: url(img/photos/background.jpg);
  width: 100%;
  height: 560px;
  position: relative;
}

.promo-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 193px;
  padding: 20px 0 0 64px;
}

.promo-breadcrumbs__item {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  color: #C4C4C4;
}

.promo-breadcrumbs__dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.promo-info {
  color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promo-info__title {
  font-size: 72px;
  font-weight: 400;
  padding-top: 100px;
  margin-bottom: 0;
}

.promo-info__subtitle {
  width: 472px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.promo-slider {
  width: 124px;
  height: 32px;
  border-radius: 16px;
  background: #00000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
}

.promo-slider__item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-background;
  opacity: 0.2;
}

.promo__btn {
  position: absolute;
  top: 63%;
  left: 78%;
}
